*.egg-info
__pycache__
test_objects
test-results/
out
out-docker
out-target
.idea
venv
*.forces
MPCCgokart
Forces_udgs_solver/
src/udgs_models/Forces_udgs_solver_model.h
src/udgs_models/Forces_udgs_solver_model.c
src/udgs_models/Forces_udgs_solver_IBR/solver_with_model.lib
src/udgs_models/Forces_udgs_solver_IBR/solver_with_model.exp
src/udgs_models/Forces_udgs_solver_IBR/solver_with_model.dll
src/udgs_models/Forces_udgs_solver_IBR/python_static_interface.template.obj
src/udgs_models/Forces_udgs_solver_IBR/python_static_interface.template.c
src/udgs_models/Forces_udgs_solver_IBR/lib/Forces_udgs_solver_IBR_static.lib
src/udgs_models/Forces_udgs_solver_IBR/lib/Forces_udgs_solver_IBR.lib
src/udgs_models/Forces_udgs_solver_IBR/lib/Forces_udgs_solver_IBR.exp
src/udgs_models/Forces_udgs_solver_IBR/lib/Forces_udgs_solver_IBR.dll
src/udgs_models/Forces_udgs_solver_IBR/interface/Forces_udgs_solver_IBRcompact_lib.mdl
src/udgs_models/Forces_udgs_solver_IBR/interface/Forces_udgs_solver_IBR_simulinkBlockcompact.c
src/udgs_models/Forces_udgs_solver_IBR/interface/Forces_udgs_solver_IBR_simulinkBlock.c
src/udgs_models/Forces_udgs_solver_IBR/interface/Forces_udgs_solver_IBR_py.py
src/udgs_models/Forces_udgs_solver_IBR/interface/Forces_udgs_solver_IBR_mex.c
src/udgs_models/Forces_udgs_solver_IBR/interface/Forces_udgs_solver_IBR_lib.mdl
src/udgs_models/Forces_udgs_solver_IBR/interface/Forces_udgs_solver_IBR_build.py
src/udgs_models/Forces_udgs_solver_IBR/interface/Forces_udgs_solver_IBR.m
src/udgs_models/Forces_udgs_solver_IBR/interface/FORCES_PRO_Logo.jpg
src/udgs_models/Forces_udgs_solver_IBR/interface/definitions_eval.py
src/udgs_models/Forces_udgs_solver_IBR/interface/definitions.py
src/udgs_models/Forces_udgs_solver_IBR/interface/COPYING.m
src/udgs_models/Forces_udgs_solver_IBR/include/Forces_udgs_solver_IBR.h
src/udgs_models/Forces_udgs_solver_IBR/Forces_udgs_solver_IBR_model.obj
src/udgs_models/Forces_udgs_solver_IBR/Forces_udgs_solver_IBR_model.h
src/udgs_models/Forces_udgs_solver_IBR/Forces_udgs_solver_IBR_model.c
src/udgs_models/Forces_udgs_solver_IBR/Forces_udgs_solver_IBR_interface.obj
src/udgs_models/Forces_udgs_solver_IBR/Forces_udgs_solver_IBR_interface.c
src/udgs_models/Forces_udgs_solver_IBR/Forces_udgs_solver_IBR.m
src/udgs_models/Forces_udgs_solver.mat
