*.egg-info
__pycache__
test_objects
test-results/
out
out-docker
out-target
.idea
venv
*.forces
MPCCgokart
Forces_udgs_solver/
src/udgs_models/Forces_udgs_solver_model.h
src/udgs_models/Forces_udgs_solver_model.c
