*.egg-info
__pycache__
test_objects
test-results/
out
out-docker
out-target
.idea
venv
*.forces
MPCCgokart
src/Car_mpcc/MPCCcar/include/MPCCcar.h
src/Car_mpcc/MPCCcar/interface/COPYING.m
src/Car_mpcc/MPCCcar/interface/definitions.py
src/Car_mpcc/MPCCcar/interface/definitions_eval.py
src/Car_mpcc/MPCCcar/interface/FORCES_PRO_Logo.jpg
src/Car_mpcc/MPCCcar/interface/MPCCcar.m
src/Car_mpcc/MPCCcar/interface/MPCCcar_build.py
src/Car_mpcc/MPCCcar/interface/MPCCcar_lib.mdl
src/Car_mpcc/MPCCcar/interface/MPCCcar_mex.c
src/Car_mpcc/MPCCcar/interface/MPCCcar_py.py
src/Car_mpcc/MPCCcar/interface/MPCCcar_simulinkBlock.c
src/Car_mpcc/MPCCcar/interface/MPCCcar_simulinkBlockcompact.c
src/Car_mpcc/MPCCcar/interface/MPCCcarcompact_lib.mdl
src/Car_mpcc/MPCCcar/lib/MPCCcar.dll
src/Car_mpcc/MPCCcar/lib/MPCCcar.exp
src/Car_mpcc/MPCCcar/lib/MPCCcar.lib
src/Car_mpcc/MPCCcar/lib/MPCCcar_static.lib
src/Car_mpcc/MPCCcar/MPCCcar.m
src/Car_mpcc/MPCCcar/MPCCcar_interface.c
src/Car_mpcc/MPCCcar/MPCCcar_interface.obj
src/Car_mpcc/MPCCcar/MPCCcar_model.c
src/Car_mpcc/MPCCcar/MPCCcar_model.h
src/Car_mpcc/MPCCcar/MPCCcar_model.obj
src/Car_mpcc/MPCCcar/python_static_interface.template.c
src/Car_mpcc/MPCCcar/python_static_interface.template.obj
src/Car_mpcc/MPCCcar/solver_with_model.dll
src/Car_mpcc/MPCCcar/solver_with_model.exp
src/Car_mpcc/MPCCcar/solver_with_model.lib
src/Car_mpcc/MPCC_Car/solver_with_model.dll
src/Car_mpcc/MPCC_Car/python_static_interface.template.obj
src/Car_mpcc/MPCC_Car/MPCC_Car_model.obj
src/Car_mpcc/MPCC_Car/MPCC_Car_model.c
src/Car_mpcc/MPCC_Car/MPCC_Car_interface.obj
src/Car_mpcc/MPCC_Car/MPCC_Car_interface.c
src/Car_mpcc/MPCC_Car/MPCC_Car.m
src/Car_mpcc/MPCC_Car/lib/MPCC_Car_static.lib
src/Car_mpcc/MPCC_Car/lib/MPCC_Car.lib
src/Car_mpcc/MPCC_Car/lib/MPCC_Car.exp
src/Car_mpcc/MPCC_Car/lib/MPCC_Car.dll
src/Car_mpcc/MPCC_Car/interface/MPCC_Carcompact_lib.mdl
src/Car_mpcc/MPCC_Car/interface/MPCC_Car_simulinkBlockcompact.c
src/Car_mpcc/MPCC_Car/interface/MPCC_Car_simulinkBlock.c
src/Car_mpcc/MPCC_Car/interface/MPCC_Car_py.py
src/Car_mpcc/MPCC_Car/interface/MPCC_Car_mex.c
src/Car_mpcc/MPCC_Car/interface/MPCC_Car_lib.mdl
src/Car_mpcc/MPCC_Car/interface/MPCC_Car.m
src/Car_mpcc/MPCC_Car/interface/definitions.py
src/Car_mpcc/MPCC_Car/include/MPCC_Car.h
